<!--show page-->
{% extends 'base.html' %}
{% block body %}
<a href="/" class="homepageHref"> Back to HomePage</a>
<!--all rooms in the json file-->
<div class="main" id="main">
    {% for room in details %}
    <div class="item">
        <div class="rooms">
            <img src="{{ room.image }}">
            <h6>{{ room.title }}</h6>
            {% if room.available %}
            <button class="openDetails" onclick="showItems('{{ room.id }}')">Details</button>
            {% else %}
            <button class="openDetails" disabled>Booked</button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<!-- room details popup div-->
{% for room in details %}
{% if room.available %}
<div class="popupDetailsHide popupDetail" id="popupDetails{{ room.id }}">
    <button class="closeBtn" onclick="hideItems('{{ room.id }}')">&times;</button>
    <img class="imgDetails" src="{{ room.image }}">
    <h2>{{ room.title }}</h2>
    <p>{{ room.description }}</p>
    <form action="/result" method="get" class="dateForm">
        <input type="text" id="room_id" name="room_id" value={{room.id}} />
        <div class="times">
            <select name="time">
                {% for time in room.available %}
                {% if time in room.booked %}
                <option value="{{ time }}" disabled>{{ time }} (Booked)</option>
                {% else %}
                <option value="{{ time }}"><a href="/result?room_id={{ room.id }}&time={{ time }}">{{ time }}</a>
                </option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="bookBtn">Book Now</button>
    </form>

</div>
{% endif %}
{% endfor %}
{% endblock %}